<app-header></app-header>

<div *ngIf="!enSala">
    <div *ngFor="let Juego of SalasActivas">
        <button class="btn btn-danger" (click)="irsala(Juego.nombre)">{{ Juego.nombre }}</button>
    </div>
</div>

<div *ngIf="enSala">

    <h5>Nombre de la sala: {{SalaActiva.nombre}}</h5>
    <h5>Log de mensajes: </h5>
    <div *ngFor="let mensaje of mensajes">
        <p >{{mensaje}}</p>
    </div>

    <button class="btn btn-danger" (click)="empezarJuego()">Empezar Juego</button>
</div>

<app-footer></app-footer>
