<div class="containerHeader">
    <div class="menu">
        <button class="btn btn-danger" [routerLink]="['/inicio']">Inicio</button>
        <button class="btn btn-danger" [routerLink]="['/sala']" *ngIf="!usuarioAutenticado">Salas</button>
        <button class="btn btn-danger" [routerLink]="['/salasadmin']" *ngIf="usuarioAutenticado" >SalasADMIN</button>
        <!--<button class="btn btn-danger" [routerLink]="['/propuesta']" *ngIf="usuarioAutenticado">Crear Propuesta</button>-->
        <button class="btn btn-danger" [routerLink]="['/actividad']" *ngIf="usuarioAutenticado">Crear Actividad</button>
        <button class="btn btn-danger" [routerLink]="['/juego']" *ngIf="usuarioAutenticado">Crear Sala</button>
        <button class="btn btn-danger" [routerLink]="['/actividades']" *ngIf="usuarioAutenticado">Mostrar Actividades</button>
        <!--<button class="btn btn-danger" [routerLink]="['/propuestas']" *ngIf="usuarioAutenticado">Mostrar Propuestas</button>-->
    </div>
    <div class="loger">
        <button class="btn btn-danger" [routerLink]="['/login']" *ngIf="!usuarioAutenticado">Login</button>
        <button class="btn btn-danger" (click)="salir()" *ngIf="usuarioAutenticado">Salir</button>
    </div>
</div>

