.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 80%; /* Ajusta el ancho según tus preferencias */
    max-width: 600px; /* Establece un ancho máximo para mantener la responsividad */
    margin-bottom: 20px; /* Ajusta el valor según la separación deseada */
  }  

  .activityResult{
    background-color: transparent;
    border: solid transparent;
  }

  .activityGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px;
  }


/* Media query para cambiar a 2 columnas en dispositivos con ancho menor a 600px */
@media screen and (width <= 600px) {
  .activityGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cambia el ancho según sea necesario */
    gap: 10px;
  margin: 10px;
  }
}