<app-header></app-header>

<div class="salaBody">
    <h5>Crear Sala</h5>
    <div class="salaName">
        <label for="nombre">Nombre de la sala:</label>
        <input #nombre>
    </div>

    <!--
    <div class="salaLink">
        <label for="descripcion">Link de la sala:</label>
        <input #link>
    </div>

    <div class="salaCodigo">
        <label for="imagen">Codigo de la sala:</label>
        <input #codigo>
    </div>

    -->

</div>

<p></p>

<ng-multiselect-dropdown id="listar"
  [placeholder]="'Seleccione una Actividad'"
  [settings]="dropdownSettings"
  [data]="dropdownList"
  [(ngModel)]="selectedItems"
>
</ng-multiselect-dropdown>

<p></p>

<button id="salaButton" class="btn btn-danger" (click)="crearJuego(nombre.value, selectedItems)">Crear Sala</button>


<app-footer></app-footer>